In [1]:
#nth-highest
#select Name, salary from  employee
#where salary = (select distinct(salary) from employee order by salary desc limit n-1,1)

In [2]:
#highest
#select Name, salary from  employee
#where salary = (select distinct(salary) from employee order by salary desc limit 0,1)

#                     or

#select Name, salary from  employee 
#where salary = (select max(salary) from employee)

In [3]:
#2nd-heighest
#select Name, salary from  employee
#where salary = (select distinct(salary) from employee order by salary desc limit 1,1)

#                     or

#select Name, salary from  employee 
#where salary = (select max(salary) from employee where salary < (select max(salary) from employee))

In [4]:
#3rd-heighest
#select Name, salary from  employee
#where salary = (select distinct(salary) from employee order by salary desc limit 2,1)

#                     or

#select Name, salary from  employee 
#where salary = (select max(salary) from employee where salary< (select max(salary) from employee where salary < (select max(salary) from employee)))