In [1]:
#https://www.geeksforgeeks.org/sql-using-python-sqlite-set-2/
#https://www.geeksforgeeks.org/sql-using-python-set-3-handling-large-data/

In [2]:
import sqlite3

conn = sqlite3.connect('Person.db')
cr = conn.cursor()

### **Table Creation**

In [7]:
query = ''' create table data
            (id int not null,
            name varchar(25),
             age int not null,
             primary key(id)
              ); '''

In [ ]:
cr.execute(query)

### **Data Insertion**

In [9]:
query2 = '''insert into data values (1,'sourav',25),(2,'vivek',23),(3,'opinder',26),(4,'niranjan',22)''';

In [10]:
cr.execute(query2)

In [12]:
conn.commit()
conn.close()

### **Fetching Data**

In [13]:
co = sqlite3.connect('Person.db')
cr = co.cursor()

In [14]:
query = '''select * from data'''

In [15]:
cr.execute(query)

In [16]:
for i in cr.fetchall():
  print(i)

(1, 'sourav', 25)
(2, 'vivek', 23)
(3, 'opinder', 26)
(4, 'niranjan', 22)

In [17]:
conn.close()

### **Updating Table**

In [18]:
co = sqlite3.connect('Person.db')
cr = co.cursor()

In [20]:
query = '''update data set name='prashant' where id =1'''

cr.execute(query)

In [22]:
cr.execute('''select * from data''')
for i in cr.fetchall():
  print(i)

(1, 'prashant', 25)
(2, 'vivek', 23)
(3, 'opinder', 26)
(4, 'niranjan', 22)

In [23]:
co.commit()
co.close()

### **Deleting Records**

In [24]:
co = sqlite3.connect('Person.db')
cr = co.cursor()

In [25]:
query = '''delete from data where id =4'''

cr.execute(query)

In [26]:
cr.execute('select * from data')

for i in cr.fetchall():
  print(i)

(1, 'prashant', 25)
(2, 'vivek', 23)
(3, 'opinder', 26)

In [27]:
co.commit()
co.close()

### **User Data Input**

In [28]:
co = sqlite3.connect('Person.db')
cr = co.cursor()

In [34]:
query = ''' create table data_new
            (id int not null,
            name varchar(25),
             age int not null,
             primary key(id)
              ); '''
cr.execute(query)

In [32]:
print('Enter names of 5 students')
names = [input('Enter %d name '%i) for i in range(5)]
print('Enter their ages respectively')
ages = [int(input('Enter %d age '%i)) for i in range(5)]
print('''Enter their id's'respectively''')
pid = [int(input('Enter %d id '%i)) for i in range(5)]

Enter names of 5 students
Enter 0 name sourav
Enter 1 name nirajan
Enter 2 name opinder
Enter 3 name vivek
Enter 4 name prashant
Enter their ages respectively
Enter 0 age 25
Enter 1 age 24
Enter 2 age 3
Enter 3 age 22
Enter 4 age 26
Enter their id's'respectively
Enter 0 id 3
Enter 1 id 8
Enter 2 id 2
Enter 3 id 6
Enter 4 id 1

In [36]:
for i in range(len(pid)):
  cr.execute('''insert into data_new values(?,?,?)''',(pid[i],names[i],ages[i]))

cr.execute('select * from data_new')
for x in cr.fetchall():
  print(x)

(3, 'sourav', 25)
(8, 'nirajan', 24)
(2, 'opinder', 3)
(6, 'vivek', 22)
(1, 'prashant', 26)

In [37]:
co.commit()
co.close()

### **Handling Large Data**

In [38]:
co = sqlite3.connect('Person.db')
cr = co.cursor()

In [44]:
scrp ='''create table random
         (
           id int not null,
           name varchar(25),
           age int,
           primary key(id)
         );
         insert into random
         values(1,'kamboj',25),(2,'sidhu',22),(3,'singh',26);

         delete from random where id=3;

         insert into random
         values(4,'yadav',25)

         
         '''

In [45]:
cr.executescript(scrp)

In [46]:
cr.execute('select * from random')
for i in cr.fetchall():
  print(i)

(1, 'kamboj', 25)
(2, 'sidhu', 22)
(4, 'yadav', 25)

In [49]:
co.commit()
co.close()

### **Replacing For loop**

In [53]:
co = sqlite3.connect('Person.db')
cr = co.cursor()

data_=[(5,'sharma',33),(6,'saini',45),(7,'sikka',38)]

cr.executemany('insert into random values(?,?,?)',data_) # replacing for loop

In [54]:
cr.execute('select * from random')
for x in cr.fetchall():
  print(x)

(1, 'kamboj', 25)
(2, 'sidhu', 22)
(4, 'yadav', 25)
(5, 'sharma', 33)
(6, 'saini', 45)
(7, 'sikka', 38)

In [55]:
co.commit()
co.close()